<h2><strong>Device Information.</strong></h2>

<ul>
    <li><%= @dev.brand_name%></li>
    <li><%= @dev.device_name%></li>
    <li><%=@dev.screen_size%></li>
    <li><%=@dev.battery%></li>
    <li><%=@dev.brand_id%></li>
</ul>
