<h2><strong>Device Information.</strong></h2>

<ul>
    <li><%= @device.brand_name%></li>
    <li><%= @device.device_name%></li>
    <li><%=@device.screen_size%></li>
    <li><%=@device.battery%></li>
    <li><%=@device.brand_id%></li>
</ul>
